.list-container {
    .ranged-filter-container,
    .ranged-filter-container:focus,
    .ranged-filter-container:active,
    .ranged-filter-container:hover {
        border: 1px solid #ced4da;
        border-radius: 4px;
    }

    .ranged-filter,
    .ranged-filter:hover,
    .ranged-filter:focus {
        background-color: #fff !important;
        border: none;
        color: #3c4146 !important;
    }

    .filters > div {
        margin: 10px 3% 10px 0;
    }

    .filters > div.d-inline-block {
        margin-right: 0;
    }

    .empty-placeholder {
        font-size: 1.5em;
    }

    .list-pagination {
        li.active a {
            background-color: #ff721f;
            color: #fff !important;
            border: none;
        }

        a {
            color: #3c4146;
        }
    }
}