.list-container {
    // .ranger-filter-container {

    // }

    .ranged-filter,
    .ranged-filter:hover,
    .ranged-filter:focus {
        background-color: #fff !important;
        border: 1px solid #ced4da !important;
        color: #000 !important;
    }

    .filters > div {
        margin: 10px 3% 10px 0;
    }
}