.filter-cleaner button {
    border: none;
    background-color: transparent;
    position: relative;
    top: 50%;
    transform: translate(0, -55%);
}

.ranged-filter,
.ranged-filter:hover,
.ranged-filter:focus {
    border: none;
}

.ranged-filter.active::after {
    vertical-align: 10px;
}

.small-title {
    font-size: 11px;
}

.filter-value-text {
    font-size: 14px;
    text-align: left;
    margin-top: -5px;
}