.details-container {
    .details-title {
        font-size: 1.6em;
    }

    .details-right-block {
        .details-price {
            font-size: 1.6em;
            font-weight: 600;
            text-align: center;
            padding-bottom: 10px;
            padding-top: 10px;
            border-top: 1px solid #efefef;
        }

        .details-contacts {
            text-align: center;
            padding-top: 20px;
            border: 1px solid #efefef;

            div {
                margin-bottom: 10px;
                font-size: 1.1em;
            }
        }
    }

    .details-bottom-block {
        clear: both;
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid #efefef;

        .details-address {
            font-size: 1.5em;
            display: inline-block;
        }

        .details-date {
            font-size: 1.3em;
            display: inline-block;
            float: right;
        }

        .details-features {
            border-bottom: 1px solid #efefef;
        }

        .details-features-item {
            padding-top: 10px;
        }
    }
}